---

---

<div>
    <div class="header">
        <a href="/">futuroptimist.eth</a>
        <nav>
            <a href="/">Home</a>
            <a href="/archive">Archive</a>
        </nav>
    </div>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        /* wrap */
        flex-wrap: wrap;
        gap: 1rem;
    }
    .header h3 {
        margin: 0;
    }
    .header nav {
        display: flex;
    }
    a {
        margin-left: 1rem;
        text-decoration: none;
        color: #00ff00;
    }
    .header nav a:hover {
        text-decoration: underline;
    }
</style>